.scroll-cans{
    padding: 0.5%;
    margin-bottom: -1%;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    font-weight: 600;
}

@media screen and (max-width: 479px){
    .scroll-cans{
        padding: 2%;
        margin: 20% 0% -2% 0%;
        color: whitesmoke;
        background-color: black;
        font-size: 2em;
        
    }
}