.scroll-cans{
    padding: 0.5%;
    margin-bottom: -1%;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .scroll-cans{
        padding: 2%;
        left: 0px;
        color: whitesmoke;
        background-color: black;
        font-size: 5vw;
        
    }
}