*{
    box-sizing: border-box;
}
.form-visible{
    display: block;
    align-items: center;
    justify-content: center;
}
.login-form{
    padding: 5%;
    margin-top: 20%;
}
.form-visible{
    position: relative;
}
.login-input-form{
    display: block;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.login-title{
    margin-left: 25%;
    color: rgb(83, 88, 94);
    
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    
}

@media screen and (max-width: 600px){
    #login-input-form{
        align-items: center;
    }
    .login-form{
        margin-top: 0px;
        height:40em
    }
    .login-title{
        margin-left: 0px;
        font-size: 15vw;
        text-align: center;
    }
    .btn{
        display: block;
        align-items: center;
        justify-content: center;
    }
}