/* Order Page */
.order-title{
  padding-bottom: 50px;
}
.order-form{
  padding:20%;
}
.order-pg1{
  border-radius: 3px 60px 3px 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top : 16%;
  padding:0.5em 4em 4em 4em;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eef2f3, #535556);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eef2f3, #aebac2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Order Form Prompt */
div.input-block {
  position: relative;
}
div.input-block input {
  font-weight: 500;
  font-size: 1em;
  color: #495055;
  width: 100%; /*15rem*/
  padding: 12px 12px;
  border-radius: 1rem;
  border: 2px solid  #D9D9D9;
  outline:none;
  margin-top:4px;
}

div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color:  #6c757d;
  display: flex;
  align-items: center;
  font-size: 1em; /**/
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}

div.input-block input:focus{
  color: #284B63;
  border-color: #284B63;
}
div.input-block input:focus + span.placeholder{
  color: #284B63;
}
div.input-block input::selection{
  color:whitesmoke;
  background-color: grey;
}

/* -------------------------------------------------------------- */
.btn {
  color: #fff;
  width: 8em;
  height: 3.5em;
  padding: 9px 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 15px;
  margin-left: 2%
}
.btn {
  color: #e2ecec;
  border: 1px solid#c6d6d7;
  box-shadow: 0 0 5px #c6d6d7, 0 0 5px #c6d6d7 inset;
  z-index: 1;
}
.btn:after {
  position: absolute;
  content: "";
  width: fit-content;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: transparent;
  box-shadow: 0 0 20px  #c6d6d7;
  transition: all 0.3s ease;
}
.btn:hover {
  color: rgb(3, 39, 70);
}
.btn:hover:after {
  left: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}

.close{
  box-shadow: 0 0 5px #e61717, 0 0 5px #e61717 inset;
  background-color: #e61717;
  
}
.save{
  box-shadow: 0 0 5px #027f1b, 0 0 5px #027f1b inset;
  background-color: #027f1b;
}
/* -------------------------------------------------------------- */
.form-btns{
  display: flex;
  justify-content: space-evenly;
  
}
.prompt-title{
  text-align: center;
}

@media screen and (max-width: 600px){ /*479*/
  .order-pg1{
    height: auto; 
    max-width: 90vw;
  }
  .order-title{
    font-size: 10vw;
    padding: 0px;
    margin-bottom: 10%;
  }
  .order-prompt-title{
    font-size: 5vw;
  }


  /* Prompt Form */
  .prompt-title{
    font-size: 4vw;
  }
  .input-block {
    /*height: 6rem;
    width: 30%;
    min-inline-size: 84vw;*/
    margin-bottom:3%;
  }
  div.input-block input {
    
    
    font-size: 8vw;
    inline-size: 100%;
    
  }
  div.input-block span.placeholder{
    font-size: 5vw;
  }
  .btn{
    font-size: 5vw;
    font-weight: bold;
    padding: 7px;
  }
}